/* .topnav {
    background-color: white;
    overflow: hidden;
} */
.image {
    margin-bottom: 30px;
}

.profile {
margin-top: 50px;
    margin-bottom: 50px;
}

.profileimage {
text-center
}